@font-face {
  font-family: 'MyFont';
  src: url('assets/Caitlynnfont.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: black;
}

h3 {
  font-family: 'MyFont', sans-serif;
}

p {
  font-size: 16px;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

a {
  color: #3498db;
  text-decoration: none;
}




/* Nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: solid 1px #333;
  border-radius: 12px;
  padding: 16px 24px;
  font-family: 'MyFont', sans-serif;
  margin: 16px;
}

.navbar .logo a {
  font-size: 24px;
  color: rgb(163, 39, 93);
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(163, 39, 93);
  text-decoration: none;
  font-size: 18px;
  text-decoration: none;
}

.container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
} 

.page {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: rgb(255, 230, 246);
  border-radius: 12px;
}


  



/* Home */
.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.home-image-img {
  width: 70%;
  max-width: 1000px; 
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
}

.textbox {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.textbox h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
}



/* Star Wars */
.star-wars-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  margin: 40px 0;
  width: fit-content;
}

.star-wars-img img {
  width: 750px;
  max-width: 500px;
  border-radius: 8px;
}

.star-wars-project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.star-wars-img {
  position: relative;
  max-width: 500px; /* Adjust image size */
}

.star-wars-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.star-wars-textbox {
  position: absolute;
  top: 32%;  
  left: 40%;
  transform: translateX(-30%);
  width: fit-content;
  background-color: rgb(251, 246, 231); 
  padding: 2px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.star-wars-text {
  font-family: 'Caitlynnfont', sans-serif;
  text-align: center;
  border: solid 4px  #333;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  justify-content: center;
}

.star-wars-text h4 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

.star-wars-textbox h3 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.star-wars-textbox p {
  font-size: 18px;
  color: #666;
  margin: 10px 0;
}






/* About */
.list-sections {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.software-section, .favorite-section {
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: center;
}

img {
  width: 150px; 
  height: auto;
  margin-right: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.story-section {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: left;
}

.drawing {
  width: 100vw; 
  height: auto; 
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}








/* Contact */
.contact-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
}

.contact-form h1 {
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #952038;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}






/* Responsiveness*/
@media (max-width: 800px) {
  .welcome {
    flex-direction: column;
  }
  
  .home-image-img {
    width: 80%;
  }
}